<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="SIAPG.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <add name="SIAPG.Properties.Settings.SIAPGConnectionString" connectionString="Data Source=SIAPG-SERVER\SIAPG;Initial Catalog=SIAPG;User ID=sa"
            providerName="System.Data.SqlClient" />
        <add name="SIAPG.Properties.Settings.SIAPGConnectionString1"
            connectionString="Data Source=SERVIDOR-PC\SIAPG;Initial Catalog=SIAPG;User ID=sa;Password=compac;Encrypt=False;TrustServerCertificate=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <userSettings>
        <SIAPG.Properties.Settings>
            <setting name="Login_Servidor" serializeAs="String">
                <value />
            </setting>
            <setting name="Login_Bd" serializeAs="String">
                <value />
            </setting>
            <setting name="Login_Usuario" serializeAs="String">
                <value />
            </setting>
            <setting name="Login_Contraseña" serializeAs="String">
                <value />
            </setting>
            <setting name="FrontColorNodoPrimero" serializeAs="String">
                <value>#000000</value>
            </setting>
            <setting name="BackColorNodoPrimero" serializeAs="String">
                <value>#FFFFFF</value>
            </setting>
            <setting name="FrontColorNodoSegundo" serializeAs="String">
                <value>#000000</value>
            </setting>
            <setting name="BackColorNodoSegundo" serializeAs="String">
                <value>#FFFFFF</value>
            </setting>
            <setting name="FrontColorNodoTercero" serializeAs="String">
                <value>#000000</value>
            </setting>
            <setting name="BackColorNodoTercero" serializeAs="String">
                <value>#FFFFFF</value>
            </setting>
            <setting name="CargarUnicamenteElUltimoNivel" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="TamañoFormularioUR" serializeAs="String">
                <value>-1, -1</value>
            </setting>
            <setting name="PosicionFormularioUR" serializeAs="String">
                <value>-1, -1</value>
            </setting>
            <setting name="TamañoFormularioFFS" serializeAs="String">
                <value>-1, -1</value>
            </setting>
            <setting name="PosicionFormularioFFS" serializeAs="String">
                <value>-1, -1</value>
            </setting>
            <setting name="IDUSUARIO" serializeAs="String">
                <value />
            </setting>
            <setting name="prueba" serializeAs="String">
                <value>cotizacion.doc</value>
            </setting>
        </SIAPG.Properties.Settings>
    </userSettings>
</configuration>